<div class="main-container">
  <!-- Sidebar Section -->
  <div class="side-nav">
    <!-- Logo Section -->
    <div class="px-4 py-1">
      <div class="logo"></div>
    </div>

    <!-- Sidebar Header for Endpoints -->
    <div class="px-6 relative pb-[6px] pt-[4px] text-white font-sans text-sm">
      END POINTS
      <div class="absolute bottom-0 left-3 right-3 border-b border-cyan-300"></div>
    </div>

    <!-- List of API Endpoints -->
    <ul class="list-none rounded-lg p-[10px] overflow-auto">
      <!-- Loop through each section in apiSections -->
      <li class="custom-background rounded mb-[4px] last:mb-0" *ngFor="let section of apiSections">
        <!-- Link for each API section -->
        <a href="#" [class.selected]="selectedTag === section.tag"
           class="flex items-center hover:bg-white hover:text-black text-white text-center py-2 rounded no-underline pl-3.5"
           (click)="navigateToTag(section.tag, $event)">
          <!-- Icon for the link -->
          <svg ...> <!-- SVG paths here --></svg>
          <!-- Display the section name -->
          {{ section.name }}
        </a>
      </li>

      <!-- Sidebar Header for Schemas -->
      <div class="px-6 relative pb-[6px] pt-[4px] text-white font-sans text-sm mt-[15px] -ml-[15px]">
        SCHEMAS
        <div class="absolute bottom-0 left-1 right-1 border-b border-cyan-300 mt-[70px]"></div>
      </div>

      <!-- Link to Schemas Section -->
      <div class="custom-background rounded">
        <li class="schemas-button mb-[4px] pt-[6px] mt-[10px] hover:bg-white hover:text-black flex items-center text-white text-center py-2 rounded no-underline pl-3.5"
        [class.selected]="selectedTag === 'schemas'"
        (click)="navigateToModels($event)">
          Go to Schemas
        </li>
      </div>
    </ul>
  </div>

  <!-- Main Content Section -->
  <div class="content">
    <header>
      <!-- Header can be populated dynamically -->
      <h1></h1>
    </header>

    <!-- Container for Swagger UI -->
    <div id="swagger-ui" class="swagger-container max-w-full">
      <!-- Placeholder for dynamically loaded API content -->
      <div *ngFor="let section of apiSections" [id]="section.tag"></div>
    </div>

    <!-- Footer Section -->
    <footer class="pb-6">
      <p class="text-center text-blue-400">© Powered by ellenex All Rights Reserved.</p>
    </footer>
  </div>
</div>
