/* Ensures that all elements include padding and border in their dimensions */
*, *::before, *::after {
  box-sizing: inherit;
}

/* Styles for the logo */
.logo {
  background-image: url(./img/logo-white.png); /* Sets the logo image */
  background-repeat: no-repeat; /* Prevents repeating the background image */
  background-position: left center; /* Aligns the logo to the left and vertically centered */
  background-size: 130px auto; /* Adjusts the size of the logo */
  height: 60px; /* Sets the height of the logo */
}

/* Custom background style used in various elements */
.custom-background {
  background-color: #0E4194B3; /* Sets a semi-transparent blue background color */
}

/* Main container that holds the side navigation and content */
.main-container {
  display: flex; /* Enables flexible box layout */
  width: 100%; /* Sets the width to fill the entire container */
}

/* Styles for the side navigation bar */
.side-nav {
  position: fixed; /* Fixes the position relative to the viewport */
  height: 100vh; /* Sets the height to fill the viewport */
  width: 20%; /* Sets the width of the side navigation */
  background-image: url(./img/side.jpg); /* Background image for the side navigation */
  background-repeat: no-repeat; /* Prevents the background image from repeating */
  background-position: center center; /* Centers the background image */
  background-size: cover; /* Ensures the background covers the entire element */
  top: 0; /* Aligns to the top of the viewport */
  left: 0; /* Aligns to the left of the viewport */
  overflow-y: auto; /* Enables vertical scrolling if the content overflows */
}

/* Styles for the main content area */
.content {
  margin-left: 20%; /* Pushes the content to the right to avoid overlapping with the side-nav */
  width: 80%; /* Occupies the remaining width of the viewport */
  flex-grow: 1; /* Allows the element to grow and fill the available space */
}

/* Style for selected items, typically used for highlighting active links */
.selected {
  background-color: white; /* Sets the background color to white */
  color: black; /* Sets the text color to black */
  text-decoration: underline; /* Underlines the text */
}
